<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" [routerLink]="['/']" name="arrow-back-outline"></ion-icon>
    <ion-title>Resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-img src={{match.logoTeamA}}></ion-img>
        <span>{{match.teamA}}</span>
      </ion-col>
      <ion-col>
        <h1>Vs</h1>
        <p>{{match.score}}</p>
      </ion-col>
      <ion-col>
        <ion-img src={{match.logoTeamB}}></ion-img>
        <span>{{match.teamB}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let event of match.events">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <p>{{event.minute}} - {{event.event}} <ion-img src={{event.image}} style="width: 30px; height: 30px;"></ion-img></p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-button color="warning" *ngIf="!match.finished" (click)="alertConfirmation()">Borrar partido</ion-button>
</ion-content>
