<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App Futbolera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">App Futbolera</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let match of matches">
        <ion-grid (click)="goToSummary(match.id)">
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-img src={{match.logoTeamA}}></ion-img>
              <span>{{match.teamA}}</span>
            </ion-col>
            <ion-col>
              <p>{{match.score}}</p>
              <p>({{match.finished ? 'Finalizado' : 'En curso'}})</p>
            </ion-col>
            <ion-col>
              <ion-img src={{match.logoTeamB}}></ion-img>
              <span>{{match.teamB}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
